@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    background-color: white;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden; /* Убираем скроллбар */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Выравниваем элементы по вертикали */
    position: relative; /* Устанавливаем относительное позиционирование */
}

button {
    position: absolute; /* Изменяем на абсолютное позиционирование */
    top: 50%; /* Центрируем по вертикали */
    right: 30px; /* Отступ от правого края */
    transform: translateY(-50%); /* Центрируем по вертикали */
    display: flex; /* Используем flexbox */
    background-color: #4CAF50; /* Зеленый цвет */
    color: white; /* Цвет текста */
    border: none; /* Убираем рамку */
    padding: 10px 20px; /* Отступы внутри кнопки */
    text-align: center; /* Выравнивание текста по центру */
    text-decoration: none; /* Убираем подчеркивание */
    font-size: 16px; /* Размер шрифта */
    cursor: pointer; /* Указатель при наведении */
    border-radius: 5px; /* Закругленные углы */
    transition: background-color 0.3s; /* Плавный переход цвета */
}

button:hover {
    background-color: #008538;
}

.square {
    position: absolute;
    margin: 0;
    height: 500px;
    width: 1080px; /* Установите ширину в процентах */
    max-width: 1086px; /* Максимальная ширина */
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.checkbox {
    display: flex;
    top: 30%; /* Положение контейнера */
    left: 84%;
    text-align: center;
    font-size: 1.2em;
    flex-direction: column; /* Вертикальное расположение элементов */
    position: fixed; /* Убедитесь, что чекбоксы находятся в правильном контексте */
    z-index: 20; /* Убедитесь, что z-index больше, чем у оверлея */
}

.checkbox-item {
    margin-bottom: 30px; /* Отступ между чекбоксами */
}

.checkbox-item label {
    display: flex;
    flex-direction: column; /* Текст над чекбоксом */
    cursor: pointer; /* Указатель при наведении */
}

.checkbox-item input {
    margin-top: 5px; /* Отступ между текстом и чекбоксом */
}

.header-container {
    display: flex; /* Используем Flexbox для выравнивания */
    justify-content: center; /* Размещаем элементы по краям */
    align-items: center; /* Выравниваем по вертикали */
    margin: 0 30px; /* Отступы для контейнера */
}

h1 {
    margin: 30px 0; /* Убираем фиксированное значение, чтобы избежать скролла */
    font-size: 2em;
    color: black;
    text-align: left; /* Выравниваем текст заголовка влево */
}

h2 {
    margin: 50px 0; /* Убираем фиксированное значение, чтобы избежать скролла */
    font-size: 2em;
    color: black;
    text-align: right; /* Выравниваем текст заголовка вправо */
}

.inputbox {
    position: relative;
    margin: 30px 30px;
    width: 100%; /* Установите ширину в процентах */
    max-width: 300px; /* Максимальная ширина */
    height: 50px; /* Увеличьте высоту по вашему усмотрению */
}

.inputbox input {
    width: 80%; /* Занимает всю ширину родителя */
    height: 80%; /* Занимает всю высоту родителя */
    padding: 10px; /* Отступы внутри текстового поля */
    border : 1px solid #ccc; /* Рамка вокруг текстового поля */
    border-radius: 5px; /* Закругленные углы */
    font-size: 1em; /* Размер шрифта */
    box-sizing: border-box; /* Учитывает отступы и рамки в ширине и высоте */
}

.inputbox label {
    position: absolute;
    top: -25px;
    left: 5px;
    color: black;
    font-size: 1.2em;
    pointer-events: none;
}